<div id="sideNav" style="width:0;">

    <button class="translate langBtn" id="en-us" value="Refresh Page" onClick="window.location.reload()">English</button>
    <button class="translate langBtn" id="ko" value="Refresh Page" onClick="window.location.reload()">한국어</button>

    <a class="navMenu lang" href="#" key="navMenuLogin"></a>
    <a class="navMenu lang" href="#" key="navMenuIntro"></a>
    <a class="navMenu lang" href="#" key="navMenuHowTo"></a>
    <a class="navMenu lang" href="#" key="navMenuRR"></a>
</div>

<script src="/js/mainEvent.js"></script>